@charset "utf-8";

body {
  position: relative;
}

.overview {}
.small{
  color: #aaa;
  font-size: 11px;
}

.trigger-list {
  margin-top: 40px;
}

.script-info{
  background: #eee;
  border: 1px solid #666;
  border-radius: 5px;
  margin-top: 60px;
  padding: 20px;
  h2 {
    font-size: 20px;
    margin: 0;
  }
  ul {
    margin: 5px 0;
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}
.script-info-inner{
  & + & {
    margin-top: 20px;
  }
}

#modal-overlay {
  background: rgb(128, 128, 128);
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.modal-outer {
  background: #fff;
  border: 1px solid #333;
  width: 80%;
  padding: 20px 5%;
  position: absolute;
  z-index: 1000;
}